<div class="jumbotron">
    <div class="container">
        <h1>Hello {{first_name}} {{last_name}}!</h1>
        <p>You are registered with an email address of {{email}}</p>
        <p>Well done!</p>
    </div>
</div>